<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheetssheets %}
        {% stylesheets '@core_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
            {% if is_granted("ROLE_USER") %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Files
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('file_upload') }}">Upload File</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_registration_register') }}">Add User</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted("ROLE_USER") %}
                <li><a href="#">Logged in as {{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container center-block">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {#<script src="{{ asset('js/require.config.js') }}"></script>#}
    {% javascripts '@core_js' %}
        <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
{% endblock %}
</body>
</html>
